img {
  display: block;
  width: 100%;
}

.image {
  position:relative;
  width: 100%;
}

h1 {
  position: absolute;
  top: 0px;
  text-align: center;
  font-family: fantasy;
  font-size: 130px;
  width: 100%;
  color: crimson;
}

h2 {
  position: absolute;
  top: 200px;
  text-align: center;
  font-family: fantasy;
  font-size: 60px;
  width: 100%;
  color: crimson;
}

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 30px 10px;
  color: green;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
